---
import './Header.css';
---
<header class="header">
  <a href="/" class="header-logo">Factor P</a>

  <ul class="header-nav">
    <li><a href="/">Inicio</a></li>
    <li><a href="/features">Características</a></li>
    <li><a href="/nosotros">Nosotros</a></li>
    <li><a href="/faqs">FAQ</a></li>
  </ul>

  <a href="/descarga" class="btn-descarga">Descargar App</a>
</header>